* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman";
}

#aboutimg {
    width: 50%;
}

.main {
    display: flex;
    justify-content: space-around;
}
